.link-container {
    text-align: center;
}

p{
    text-align: center;
}

button{
    background-color: rgb( 45, 41, 38);
    color: white;
}
.our-logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
