body {
    margin: 0;
    padding: 0;
    background-color: rgb(45, 41, 38);
    color: white;
}

li {
    list-style-type: none;
}

#bar,
#nav,
#content {
    display: grid;
}

#bar {
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pages {
    display: flex;
    justify-content: space-around;
}

#nav {
    display: flex;
    justify-content: space-evenly;
}

#pages > *, 
#nav > * {
    margin: 20px;
    font-size: 20px;
}

#logo {
    width: 120px;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

table {
    border-collapse: collapse;
    height: 50%;
    width: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#content {
    grid-template-columns: 1fr 1fr;
}

#crypto {
    justify-self: center;
}
