<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="../css/bar.css" rel="stylesheet">
        <link href="../css/base.css" rel="stylesheet">
        <link href="../css/registration.css" rel="stylesheet">
    </head>
    <body>
        <div class="bar">
            <img src="../assets/logo.svg" class="logo" alt="Logo">
            <ul class="pages">
                <li><a href="./">Home</a></li>
                <li><a href="crypto.html">Crypto</a></li>
                <li><a href="purchases.html">Purchases</a></li>
            </ul> 
            <ul class="nav">
                <li><a href="login.html">Log In</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
        </div>

        <div class="center">
            <h1>Sign Up</h1>
            <form method="post" id='signupForm'>
                <div class="txt_field">
                    <input type="text" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <span></span>
                    <label>Confirm Password</label>
                </div>
                <div class="pass">Forgot Password?</div>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Already a member? <a href="login.html">Log In</a>
                </div>
            </form>
        </div>
         <script src="caller.js"></script>
    </body>
</html>
