.bar {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: #0e1111;
    height: 101px;

}

.pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    justify-content: space-around;
    font-weight: bold;
    background: none;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    font-weight: bold;
}

.pages > *, 
.nav > * {
    margin: 20px;
    font-size: 20px;
    padding: 4px;
    background-color:  #232B2B;
    border-color: white;
    border-radius: 5px;
}

.logo {
    display: flex;
    width: auto;
    height: 60px;
    margin-left: 20px;
    margin-top: 20px;
}
a:hover {
    color: grey;
}

