body, html {
    height: 100%;
}
.link-container {
    text-align: center;
}

.left-image {
    float: left;
    margin-right: 20px;
}

.right-image {
    float: right;
    margin-right: 20px;
}


  
input {
    border: none;
    outline: none;
    background-color: white;
    width: 25%;
    height: 30px;
    
}


.input-container {
    display: flex;
    flex-direction: column;
    justify-content: from-start;
    width: 600px;
    height: 400px;
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #19231e;
    box-shadow: 0 2px 5px rgb(0, 2, 1);
}

.input-field {
    width: calc(100% - 20px); /* Adjust for padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

 .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #2f7070;
    color: black;
}

img{
    margin-top: 6px;
    height: 45px;
    width: auto;


}
