<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Crypto predictor mockup</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/bar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/crypto.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>
        <div class="bar">
            <img src="../static/images/logo.svg"  class="logo" alt="Logo">
            <ul class="pages">
				<li><a href="{{url_for('home')}}">Home</a></li>
				<li><a href="{{url_for('crypto')}}">Crypto</a></li>
				<li><a href="{{url_for('purchases')}}">Purchases</a></li>
            </ul> 
            <ul class="nav">
				<li><a href="{{url_for('login')}}">Log In</a></li>
				<li><a href="{{url_for('register')}}">Sign Up</a></li>
				<li><a href="{{url_for('profile')}}">Profile</a>
            </ul> 
        </div>
        <div class="input-container">
            <input type="text" class="input-field" placeholder="Enter the crypto name">
            <button class="submit-btn">Submit</button> 
        </div>
    </body>
</html>
