<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Crypto predictor mockup</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bar.css') }}">
    </head>
    <body>
        <div class="bar">
            <img src="../static/images/logo.svg" class="logo" alt="Logo">
            <ul class="pages">
				<li><a href="{{url_for('home')}}">Home</a></li>
				<li><a href="{{url_for('crypto')}}">Crypto</a></li>
				<li><a href="{{url_for('purchases')}}">Purchases</a></li>
			</ul> 
            </ul> 
            <ul class="nav">
				<li><a href="{{url_for('login')}}">Log In</a></li>
				<li><a href="{{url_for('register')}}">Sign Up</a></li>
				<li><a href="{{url_for('profile')}}">Profile</a></li>
            </ul>
        </div>
        <div>

        <div class="centering">
                <h1 style="margin-top: 50px;">Welcome to Cryp</h1>
                <h2 class="push-down">Crypto is the way, gain freedom today!</h2>
                <p>in the future you will need crypto, because crypto will be a replacment for: <br>
                   money, trading, investing and a lot more. To join the future you just got to sign in and start buying crypto in our virtual buying crypto test. Here you can buy as much crypto as you want because it is all fake currency and you are not actually buying the crypto. This is a great way to train your investment skills and money handaling skills. you can withdraw money, buy crypto, deposit your cash and sell. This a great way for you to train your skills for the future, so what are you waiting on. Join the future. Your Crypto Journey starts here.</p>
        </div>

        <div class="our-logo">
            <div>
            </div>
            <img src="../static/images/logo.svg" alt="Logo">
            <div>
            </div>
        </div> 

        </div>
    </body>
</html>
