<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-7">
        <meta name="viewport" content="width=device-width, initial-scale=2">
        <title></title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bar.css') }}">
    </head>
    <body>
        <div class="bar">
            <img src="../static/images/logo.svg" class="logo" alt="Logo">
            <ul class="pages">
				<li><a href="{{url_for('home')}}">Home</a></li>
				<li><a href="{{url_for('crypto')}}">Crypto</a></li>
				<li><a href="{{url_for('purchases')}}">Purchases</a></li>
            </ul> 
            <ul class="nav">
				<li><a href="{{url_for('login')}}">Log In</a></li>
				<li><a href="{{url_for('register')}}">Sign Up</a></li>
				<li><a href="{{url_for('profile')}}">Profile</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="box">
                <div class="flex-column">
                    <img class="pfp" src="../static/images/defaultpfp.png" alt="Default profile picture">
                    <div class="e-section">
						<p><a href="{{url_for('editprofile')}}">Edit profile</a></p>
                    </div>  
                    
                </div>
                 <div class="u-section">
                    <p>@username</p>
                    <p>Joined since: 25/04/2069</p>
                 </div>
                <div class="push">
                    <div class="logout">
                        <p>Log out</p>
                    </div>
                </div>
            </div>
        </div>
                    
        
    </body>


