<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Crypto</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/purchases.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bar.css') }}">
    </head>
    <body>
        <div class="bar">
            <img src="../static/images/logo.svg" class="logo" alt="Logo">
            <ul class="pages">
				<li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('crypto')}}">Crypto</a></li>
                <li><a href="{{url_for('purchases')}}">Purchases</a></li>
            </ul> 
            <ul class="nav">
				<li><a href="{{url_for('login')}}">Log In</a></li>
				<li><a href="{{url_for('register')}}">Sign Up</a></li>
				<li><a href="{{url_for('profile')}}">Profile</a></li>
            </ul>
        </div>
        <div class="flex-container">
            <div class="balance">
               <p>Total balance</p>
                <p>6969$</p>
            </div>
         <div class="flex-container">
                <div class="currentcrypto">
                    <ul class="values">
                        <li>9.02941 BTC</li>
                        <li>$578838.45</li>
                        <li>Withdraw</li> 
                    </ul>    
                </div>
         </div>
        </div>
        <div class="flex-container">
            <div class="previous">
                <div class="previoustxt">Previous Transactions</div>
                <ul class="valuesp">
                   <li> </li>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                </ul> 
                <ul class="sec">
                   <li>Name</li>
                   <li>Date</li>
                    <li>Bought at</li>
                    <li>Sold at</li>
                </ul>
            </div>
            
        </div>
    </body>
</html>
